#userSearch {
  padding: 0 20% 7% 20%;
  position: relative;
  bottom: 460px;
}

header {
  font-family: 'Bungee Shade', cursive;
  font-size: 620%;
  text-shadow: 4px 4px 4px #aaa;
  position: relative;
  bottom: 430px;
}

.card-panel {
  @extend .green,
  .lighten-4;
}

.parallax-container {
  margin-top: 20px;
}

.clearfix {
  overflow: auto;
}

#hotelinfo {
  margin: 0px 10px;
}

#hotelPic {
  width: 100%;
}

#hotelPrices {
  width: 35%;
}

@media screen {}